    * {
        font-family: "Montserrat", sans-serif;
    }
    
    .content {
        width: 30%;
        border: 1px solid red;
        margin: auto;
        padding: 20px 10px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
    }
    
    .content--btn {
        border: 1px solid green;
        color: green;
        width: 80px;
        text-align: center;
        border-radius: 5px;
        margin: auto;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 5px;
        transform: translateX(-50%);
    }
    
    .content--btn:hover {
        border: 1px solid green;
        color: rgb(255, 255, 255);
        background-color: rgb(29, 196, 93);
        font-size: large;
        font-weight: bold;
    }
    
    .content2 {
        display: flex;
        /* justify-content: center; */
        margin: auto;
        /* border: 1px solid springgreen; */
        height: 200px;
    }
    
    .item {
        width: 20%;
        height: 200px;
        background-color: hotpink;
        /* float: left; */
    }
    
    .cot1 {
        background-color: lawngreen;
        /* justify-content: center;
        align-items: center;
        flex-direction: row; */
    }
    
    .cot2 {
        background-color: rgb(88, 19, 216);
    }
    
    .cot3 {
        background-color: rgb(255, 119, 8);
    }